<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <head>
        <link rel="stylesheet" href="/css/new.css">
    </head>
    <header>
        <a href="/" id="logo">LibApp</a>
        <nav>
            <a href="/patienta">Authors</a>
            <a href="/therapists">Books</a>
    
            <% if (locals.user){%>
                <a href="/profile"><%=locals.user.FullName.split(" ")[0]%></a>
                <a href="/logout">Logout</a>
                <% }else{%>
                    <a href="/signin">Sign In</a>
                    <a href="/signup">Sign Up</a>
                <%} %>    
           
            
        </nav>
    </header>
</body>
</html>