<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/css/new.css">
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
    <%- include('header.ejs')%>
    <h1>Sign In</h1>
    <% if(locals.errorMessage){%>
        <p style="color: orangered;"><%= locals.errorMessage%></p>
    <%}%>
    <form action="/signin" method="post">
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            
        </div>
    
        <input type="submit" value="Sign In">
    </form>
    <p>Don't have an account? <a href="/signup">Sign Up</a></p>


</body>
</html>